.plusIcon{
    /* background-color: rgb(198, 84, 28); */
    width: 2rem;
    height: 1.5rem;
    margin-left: 2rem;
    font-size:1.4rem;
    color:white;
    font-weight:bolder;
    padding-bottom: 200px;
}
.chapterNameContainer{
    /* background-color: red; */
    display: flex;
    align-items: center;
    justify-content: center;
    border: 3px solid white;
    margin: 2rem 0rem;
}
.chapterName{
    /* background-color: green; */
    font-weight: 600px;
    font-size: 1.3rem;
    font-weight: bold;

}

