.resetContainer{
    /* background-color:rebeccapurple; */
    display:flex;
    align-items: center;
    justify-content: center;
    height: 91vh;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    color:black;
}
.subResetContainer{
    display: flex;
    align-items: center;
    justify-content: center;
    border: 5px solid grey;
    border-radius: 3px;
    padding: 0.6rem;
    background-color:rgb(237, 223, 223);
    height: 50%;
    width:30%;
    flex-direction: column;
    gap: 1px;
}
.contentContainer{
    /* background-color: green; */
    margin: 0.3rem;
    margin-top: 0rem;
    padding: 1rem;
    width: 50%;
    height: 60%;
}
.heading{
    
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    margin-top: 0rem
    
}
.email{
    /* background-color: orange; */
    margin-top:0rem;
    margin-bottom: 0px;
}

.inputBox{
    margin-top:0px;
    border:none;
    background-color: rgb(195, 187, 187);
    border-bottom: 1px solid #272323;
    border-radius: 4px;
    width: 90%;
    height: 2rem;
    
    
}
label{
    margin-bottom:0px;
    font-size: 0.7rem;
}
.submitButton{
    color:rgb(48, 28, 85);
    border: 1px solid #ff9a19; ;
    border-radius: 5px;
    margin-top: 1.6rem;
    width: 97%;
    background-color:rgb(245, 172, 37);
    font-size: 16px;
}
.pAndSpan{
    display: flex;
    gap: 0px;
    /* background-color: red; */
}

.returnSignin{
    /* background-color: red; */
    font-size: 12px;
    margin-bottom: 0px;
    display: flex;
    /* background-color: yellow; */
    margin-right: 0%;
    width:10rem
    
}
.returnSignin .signIn {
    color: blue;  /* Change text color */
    font-weight: bold; /* Make it bold */
    cursor: pointer; /* Show pointer cursor on hover */
    text-decoration: underline; /* Add underline effect */
    font-size: 12px;
    /* background-color: white; */
    margin-top: 0px;
    margin-left: 0px;
    
    
}
.email label{
    font-weight: bold;
    color:rgb(31, 28, 31)
}
