.verifyPasswordContainer{
    /* background-color: red; */
    height: 80vh;
    display: flex;
    align-items: center;
    justify-content: center;
    color:rgb(48, 28, 85);
}
.verifyOtp{
    background-color: whitesmoke;
    width: 30%;
    height: 50%;
    color:inherit;
    border : 3px solid gray;
    border-radius: 8px;
}
.subVerifyOtp{
    /* background-color: blue; */
    display: flex;
    justify-content: center;
    color: inherit;
    
}
.subVerifyOtp input{
    width: 5%;
    margin: 2px;
    height: 1.9rem;
    box-shadow: inset;
    margin-left: 1.3rem;
    font-size: 16px;
    font-weight:bold;
    background-color: rgb(195, 187, 187)
    
}
.subVerifyOtp input{
    width: 5%;
    margin: 2px;
    height: 1.9rem;
    box-shadow: inset;
    margin-left: 1.3rem;
    font-size: 16px;
    font-weight:bold;
    background-color: rgb(195, 187, 187);
    border:none;

}
.subVerifyOtp input:active{
    width: 5.8%;
    margin: 2px;
    height: 1.9rem;
    box-shadow: inset;
    margin-left: 1.3rem;
    font-size: 16px;
    font-weight:bold;
    background-color: rgb(195, 187, 187);
   
}
    

.verifyButton{
    color:inherit;
    transition: 0.3s;
    
    border: 1px solid #ff9a19; ;
    border-radius: 5px;
    margin-top: 1.6rem;
    width: 73%;
    background-color:rgb(245, 172, 37);
    font-size: 16px;
    margin-left:15%;
    height: 2.5rem;
}
.verifyButton:hover{
    color:inherit;
    
    border: 2px solid #597abc; ;
    border-radius: 5px;
    margin-top: 1.6rem;
    width: 74%;
    background-color:rgb(245, 172, 37);
    font-size: 16px;
    margin-left:15%;
    font-weight: 500;
    height: 2.5rem;
}
.verifyOtp h2{
    margin-top: 0.7rem;
    /* background-color: red; */
    display: flex;
    align-items: center;
    justify-content: center;
    
}
.subvVerifyOtp{
    
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.userNewPassword{
    height: 1.7rem;
    border-radius: 0px;
    width: 50%;
    border:none;
    border-bottom: 1px solid;
    background-color: none;
    outline: none;
    margin: 2px;
}